<h1>contact</h1>
<% test_variable = 42 %>
<p>The value is: <%= test_variable %></p>

<div id="productCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <% @products.each_with_index do |product, index| %>
      <div class="carousel-item <%= 'active' if index == 0 %>">
        <%= image_tag(product.image_url, class: "d-block w-100", alt: product.name) %>
        <div class="carousel-caption d-none d-md-block">
          <%= product.name %>
        </div>
      </div>
    <% end %>
  </div>

  <!-- Carousel controls -->
  <button class="carousel-control-prev" type="button" data-bs-target="#productCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#productCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<h1>Contact Us</h1>

<%= flash[:notice] %>

<%= form_with(url:home_thank_you_path, method: "post", local: true) do |form| %>
<div class="row">
  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control", placeholder: "Enter Name" %>
  </div>
  <div class="form-group">
    <%= form.label :email %>
    <%= form.text_field :email, class: "form-control", placeholder: "Enter Email" %>
  </div>
  <div class="form-group">
    <%= form.label :message %>
    <%= form.text_area :message, class: "form-control", placeholder: "Enter Message", rows: 5 %>
  </div>
</div>
<%= form.submit "Send", class: "form_label" %>
<% end %>
