<div id="<%= dom_id product %>">
  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>Image url:</strong>
    <% if product.image_url.present? %>
    <%= image_tag product.image_url, alt: "Product image", class: "img-fluid" %>
  <% else %>
    <em>No image available</em>
  <% end %>
  </p>

  <p>
  <strong>Color:</strong>
  <%= product.color %>
</p>

</div>
