<p style="color: green"><%= notice %></p>

<% content_for :title, "Products" %>

<h1>Products</h1>

<%= form_with(url: products_path, method: 'get', local: true) do |form| %>
  <%= form.label :q, 'Search for:' %>
  <%= form.text_field :q, id: 'q', value: params[:q] %>
  <%= form.submit 'Search' %>
<% end %>

<div id="products">
  <% @products.each do |product| %>
    <%= render product %>
    <p>
      <%= link_to "Show this product", product %>
    </p>
  <% end %>
</div>

<%= link_to "New product", new_product_path %>

<% paragraph_number = 1 %>
<% 5.times do %>
  <p>This is paragraph number <%= paragraph_number %></p>
  <% paragraph_number = paragraph_number + 1 %>
<% end %>
